.test{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    flex-basis: 80px;
}

.test1{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    flex-basis: 20px;
}

.test2{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    flex-basis: 50px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /*content lai wrap when shrinked*/
    flex-wrap: nowrap;
}

div.test{
    order: 2.;
}

div.test1{
    order: 3;
}

div.test2{
    order: 1;
}
